:root {
	--container-width: 1370px;
	--container-padding: 15px;

	--font-main: "DM Sans", sans-serif;
	--font-accent: "DM Sans", sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #191919;
	--text-color: #fff;
	--accent-link: #118da8;
	--link-color: #fff;
	--accent: rgba(255, 255, 255, 0.7);
	--item-bg: #000;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 375px;
}
