.collection {
    padding: 100px 20px 160px;
}

.collection__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
}

.collection__items-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
