.header {
	background-color: var(--page-bg);
	padding: 43px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& a:hover {
		color: var(--accent-link);
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}
