.header {
	background-color: var(--page-bg);
	padding: 43px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& a::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		width: 0;
		height: 3px;
		background-color: var(--accent-link);
		transition: width 0.3s ease-in-out;
	}
	& a:hover::after {
		width: 40px; /* исходная длина + px */
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}
